pylint
jupyterlab
fastapi
uvicorn
pillow
python-multipart
numpy
whoosh
pandas
matplotlib
colorama
pathlib
wheel
nbresult
ipdb
ipykernel
yapf
pygeohash
pytest
seaborn
scipy
scikit-learn
google-cloud-bigquery
google-cloud-storage
db-dtypes
pyarrow
tensorflow==2.10.0
wordcloud
wrapt==1.15.0
zipp==3.15.0
scikit-learn
nltk
googletrans==4.0.0-rc1
pydantic
